.main-window scrolledwindow undershoot.top {
  box-shadow: inset 0 1px alpha(black, .5);
}

.card,
.boxed-list {
  box-shadow: 0 0 0 1px alpha(black, .5);
}

.boxed-list row {
  border-color: alpha(black, .5);
}
