@define-color window_bg_color #bc1e0c;
@define-color window_fg_color white;
@define-color shade_color alpha(black, .15);

@define-color headerbar_bg_color alpha(black, .1);
@define-color headerbar_fg_color white;
@define-color headerbar_backdrop_color transparent;
@define-color headerbar_shade_color transparent;

@define-color card_bg_color alpha(black, .15);
@define-color card_shade_color @shade_color;

@define-color accent_color white;
@define-color accent_bg_color white;
@define-color accent_fg_color alpha(black, .8);

@define-color scrollbar_outline_color alpha(black, .2);

window {
	background: radial-gradient(circle at 80% 110%, #f5c60c 0%, #bc1e0c 98%);
}

.card,
.boxed-list {
  box-shadow: none;
}

.main-window scrolledwindow undershoot.top {
  box-shadow: inset 0 1px alpha(black, .075);
  background: linear-gradient(to bottom, alpha(black, .075), transparent 4px);
}

.degrees {
  font-size: 160px;
  font-weight: 200;
}

.celsius {
  font-size: 54px;
  margin-top: 25px;
  font-weight: 300;
}
